<%- include layouts/header.ejs %>
    <script>
        function cancelAdd() {
            window.location.href = '/movies';
        }
        function redirect(){
            window.location.href = '/back';
            return false;
        }
        function validateForm() {
            var pass = false;
            var ae = document.activeElement;
            var doc = document.forms["addForm"];
            if (doc["title"].value.length > 50) {
                alert("Title length must be less than 50 characters.");
                pass = true;
            }
            doc["submit"].disabled = pass;

        }
    </script>
    <div class="page-data">

        <form role="form" method="POST" action="" name="addForm" onsubmit="validateForm">
            <table cellpadding="11" class="table table-striped">
                <tr>
                    <td class="label">Title</td>
                    <td>Title:
                        <input type="text" name="title" max="50" required>
                    </td>
                </tr>
                <tr>    
                    <td class="label" valign="top">Format</td>
                    <td valign="top">Format:
                        <select class="formatPicker" name="formatPicker">
                            <option value="VHS">VHS</option>
                            <option value="DVD">DVD</option>
                            <option value="Streaming">Streaming</option>
                        </select>
                        </input>
                    </td>
                </tr>
                <tr>
                    <td class="label">Length</td>
                    <td>Length:
                        <input type="number" name="length" maxlength="3" max="500" required> minutes
                    </td>
                </tr>
                <tr>
                    <td class="label">Year Released</td>
                    <td>Year Released:
                        <input type="number" name="release_year" min="1800" max="2100" maxlength="4" required>
                    </td>
                </tr>
                <tr>
                    <td class="label">Rating</td>
                    <td>Rating:
                        <fieldset id="ratingSystem">
                            <span class="star-cb-group">
                                <input type="radio" id="rating-5" name="rating" value="5" />
                                <label for="rating-5">5</label>
                                <input type="radio" id="rating-4" name="rating" value="4" />
                                <label for="rating-4">4</label>
                                <input type="radio" id="rating-3" name="rating" value="3" />
                                <label for="rating-3">3</label>
                                <input type="radio" id="rating-2" name="rating" value="2" />
                                <label for="rating-2">2</label>
                                <input type="radio" id="rating-1" name="rating" value="1" checked />
                                <label for="rating-1">1</label>
                            </span>
                        </fieldset>
                    </td>
                </tr>
                <tr>
                    <td class="label"></td>
                    <td>
                        &nbsp;
                        <input type="submit" name="submit" value="Save" class="save" >
                        <input type="button" name="cancel" value="Cancel" class="cancel" onClick="cancelAdd()">
                    </td>
                </tr>
            </table>
        </form>

    </div>

    <%- include layouts/footer.ejs %>